################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/TicketSystem/FileContentIndex/0655e558-2278-4efe-8473-4739675e57d8.vsidx
/.vs/TicketSystem/FileContentIndex
